# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/CommonUtilities/v16/

*.db

Unit Tests/Stacks and Queues/.vs/Stacks and Queues/v16/.suo

Unit Tests/Stacks and Queues/.vs/Stacks and Queues/v16/Browse.VC.db-shm

Unit Tests/Stacks and Queues/.vs/Stacks and Queues/v16/Browse.VC.db-wal

*.opendb

*.ipch

*.manifest

*.testlog

*.exp

*.pdb

*.tlog

*.recipe

*.ilk

*.log

*.idb

Tga2D/.vs/TGE/v16/.suo

Tga2D/.vs/TGE/v16/Browse.VC.db-shm

Tga2D/.vs/TGE/v16/Browse.VC.db-wal

Tga2D/.vs/TGE/v16/Solution.VC.db-shm

Tga2D/.vs/TGE/v16/Solution.VC.db-wal

Unit Tests/DoA Assignment Tests/.vs/DoA Assignment Tests/v16/
