# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

.vs/CommonUtilities/v16/

*.db

Unit Tests/Stacks and Queues/.vs/Stacks and Queues/v16/.suo

Unit Tests/Stacks and Queues/.vs/Stacks and Queues/v16/Browse.VC.db-shm

Unit Tests/Stacks and Queues/.vs/Stacks and Queues/v16/Browse.VC.db-wal

*.opendb

*.ipch

*.manifest

*.testlog

*.exp

*.pdb

*.tlog

*.recipe

*.ilk

*.log

*.idb

Tga2D/.vs/TGE/v16/.suo

Tga2D/.vs/TGE/v16/Browse.VC.db-shm

Tga2D/.vs/TGE/v16/Browse.VC.db-wal

Tga2D/.vs/TGE/v16/Solution.VC.db-shm

Tga2D/.vs/TGE/v16/Solution.VC.db-wal

Unit Tests/DoA Assignment Tests/.vs/DoA Assignment Tests/v16/

Tga3D/.vs/TGE/v16/.suo

Tga3D/.vs/TGE/v16/Browse.VC.db-shm

Tga3D/.vs/TGE/v16/Solution.VC.db-shm

Tga3D/Bin/Shaders/animated_model_shader_VS.cso

Tga3D/Bin/Shaders/AnimatedVertexShaderVS.cso

Tga3D/Bin/Shaders/custom_shape_PS.cso

Tga3D/Bin/Shaders/custom_shape_VS.cso

Tga3D/Bin/Shaders/instanced_sprite_shader_VS.cso

Tga3D/Bin/Shaders/lineshader_PS.cso

Tga3D/Bin/Shaders/lineshader_VS.cso

Tga3D/Bin/Shaders/model_shader_PS.cso

Tga3D/Bin/Shaders/model_shader_VS.cso

Tga3D/Bin/Shaders/PixelShaderPS.cso

Tga3D/Bin/Shaders/PostprocessCopyPS.cso

Tga3D/Bin/Shaders/PostprocessGaussianH_PS.cso

Tga3D/Bin/Shaders/PostprocessGaussianV_PS.cso

Tga3D/Bin/Shaders/PostprocessTonemapPS.cso

Tga3D/Bin/Shaders/PostprocessVS.cso

Tga3D/Bin/Shaders/sprite_shader_PS.cso

Tga3D/Bin/Shaders/VertexShaderVS.cso

Tga3D/Temp/External/Debug/External.vcxproj.FileListAbsolute.txt

Tga3D/Temp/Game/Debug/Game.vcxproj.FileListAbsolute.txt

Tga3D/Temp/Launcher/Debug/Launcher.vcxproj.FileListAbsolute.txt

Tga3D/Temp/tga2dcore/Debug/

*.db-wal

*.db-shm
